@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  --primary-color: #002C42;
  --secondary-color: #D7B106;
}

body {
  background-color: var(--primary-color);
}
